body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 30px;
}
.name-color{
    color: deeppink;
}
p{
    color: dimgrey;
}
.half-width{
    width: 40%;
    float: left; 
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
}
.header{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg,lightsalmon,pink);
    padding: 10px,20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}